{{- /* Load Google Fonts */ -}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">

{{- /* Load search scripts globally for search modal */ -}}
<link crossorigin="anonymous" rel="preload" as="fetch" href="{{ "index.json" | absURL }}">
{{- $fastsearch := resources.Get "js/fastsearch.js" | js.Build (dict "params" (dict "fuseOpts" site.Params.fuseOpts)) | resources.Minify }}
{{- $fusejs := resources.Get "js/fuse.basic.min.js" }}
{{- if not site.Params.assets.disableFingerprinting }}
{{- $search := (slice $fusejs $fastsearch ) | resources.Concat "assets/js/search.js" | fingerprint }}
<script defer crossorigin="anonymous" src="{{ $search.RelPermalink }}" integrity="{{ $search.Data.Integrity }}"></script>
{{- else }}
{{- $search := (slice $fusejs $fastsearch ) | resources.Concat "assets/js/search.js" }}
<script defer crossorigin="anonymous" src="{{ $search.RelPermalink }}"></script>
{{- end }}

{{- /* Load animations script */ -}}
{{- $animations := resources.Get "js/animations.js" | resources.Minify }}
{{- if not site.Params.assets.disableFingerprinting }}
{{- $animations = $animations | fingerprint }}
<script defer crossorigin="anonymous" src="{{ $animations.RelPermalink }}" integrity="{{ $animations.Data.Integrity }}"></script>
{{- else }}
<script defer crossorigin="anonymous" src="{{ $animations.RelPermalink }}"></script>
{{- end }}

{{- /* Load typing animation script */ -}}
{{- $typing := resources.Get "js/typing-animation.js" | resources.Minify }}
{{- if not site.Params.assets.disableFingerprinting }}
{{- $typing = $typing | fingerprint }}
<script defer crossorigin="anonymous" src="{{ $typing.RelPermalink }}" integrity="{{ $typing.Data.Integrity }}"></script>
{{- else }}
<script defer crossorigin="anonymous" src="{{ $typing.RelPermalink }}"></script>
{{- end }}

{{- $view := resources.Get "js/view-counter.js" | resources.Minify }}
{{- if not site.Params.assets.disableFingerprinting }}
{{- $view = $view | fingerprint }}
<script type="module" crossorigin="anonymous" src="{{ $view.RelPermalink }}" integrity="{{ $view.Data.Integrity }}"></script>
{{- else }}
<script type="module" crossorigin="anonymous" src="{{ $view.RelPermalink }}"></script>
{{- end }}

{{- /* Load input sanitizer for XSS/SQL injection protection */ -}}
{{- $sanitizer := resources.Get "js/input-sanitizer.js" | resources.Minify }}
{{- if not site.Params.assets.disableFingerprinting }}
{{- $sanitizer = $sanitizer | fingerprint }}
<script defer crossorigin="anonymous" src="{{ $sanitizer.RelPermalink }}" integrity="{{ $sanitizer.Data.Integrity }}"></script>
{{- else }}
<script defer crossorigin="anonymous" src="{{ $sanitizer.RelPermalink }}"></script>
{{- end }}

{{- /* Load TOC control script to keep it closed by default */ -}}
{{- $tocControl := resources.Get "js/toc-control.js" | resources.Minify }}
{{- if not site.Params.assets.disableFingerprinting }}
{{- $tocControl = $tocControl | fingerprint }}
<script defer crossorigin="anonymous" src="{{ $tocControl.RelPermalink }}" integrity="{{ $tocControl.Data.Integrity }}"></script>
{{- else }}
<script defer crossorigin="anonymous" src="{{ $tocControl.RelPermalink }}"></script>
{{- end }}

{{- /* Load Supabase for authentication */ -}}
<script src="https://unpkg.com/@supabase/supabase-js@2"></script>

{{- /* Load Supabase configuration and auth scripts */ -}}
{{- $supabaseConfig := resources.Get "js/supabase-config.js" | resources.Minify }}
{{- if not site.Params.assets.disableFingerprinting }}
{{- $supabaseConfig = $supabaseConfig | fingerprint }}
<script defer crossorigin="anonymous" src="{{ $supabaseConfig.RelPermalink }}" integrity="{{ $supabaseConfig.Data.Integrity }}"></script>
{{- else }}
<script defer crossorigin="anonymous" src="{{ $supabaseConfig.RelPermalink }}"></script>
{{- end }}

{{- $auth := resources.Get "js/auth.js" | resources.Minify }}
{{- if not site.Params.assets.disableFingerprinting }}
{{- $auth = $auth | fingerprint }}
<script defer crossorigin="anonymous" src="{{ $auth.RelPermalink }}" integrity="{{ $auth.Data.Integrity }}"></script>
{{- else }}
<script defer crossorigin="anonymous" src="{{ $auth.RelPermalink }}"></script>
{{- end }}

{{- /* Load Profile Router for dynamic profile pages */ -}}
{{- $router := resources.Get "js/router.js" | resources.Minify }}
{{- if not site.Params.assets.disableFingerprinting }}
{{- $router = $router | fingerprint }}
<script defer crossorigin="anonymous" src="{{ $router.RelPermalink }}" integrity="{{ $router.Data.Integrity }}"></script>
{{- else }}
<script defer crossorigin="anonymous" src="{{ $router.RelPermalink }}"></script>
{{- end }}

{{- /* Load Profile management script on profile page */ -}}
{{- if eq .Layout "profile" }}
{{- $profile := resources.Get "js/profile.js" | resources.Minify }}
{{- if not site.Params.assets.disableFingerprinting }}
{{- $profile = $profile | fingerprint }}
<script defer crossorigin="anonymous" src="{{ $profile.RelPermalink }}" integrity="{{ $profile.Data.Integrity }}"></script>
{{- else }}
<script defer crossorigin="anonymous" src="{{ $profile.RelPermalink }}"></script>
{{- end }}
{{- end }}
